# 1

In [1]:
a = 0
def b():
 global a      #Global variable
 a = c(a)
def c(a):
 return a + 2

b()
print (a)       # Returns a=0+2
b()
print (a)       # Returns a=2+2=4,Since a is global variable 
b()
print (a)       # Returns a=2+4=6,Since a is global variable
a
print (a)       # Returns a=6,Since a is global variable,so every time function b is called a is added with 2

2
4
6
6

# 2

In [4]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('File : '+file_name+' not found' )
    
file_length("Filelength.py")

123

In [5]:
file_length("ilelength.py")

File : ilelength.py not found

# 3

In [6]:
#class Marsupial defines funtions and variables to store and display words
class Marsupial():
    def __init__(joey):
        joey.pouch=[]

#pouch funtion store the words entered        
    def put_in_pouch(joey,word):
        joey.pouch.append(word)
    def pouch_contents(joey):
        print(joey.pouch)

In [7]:
m = Marsupial()
#function call to insert words
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [8]:
#function call to print words
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [9]:
#subclass Kangaroo with  parent as marsupial carries x and y coordinates as parameter
class Kangaroo(Marsupial):
    def __init__(joey,x,y):
        Marsupial.__init__(joey)
        joey.x=x
        joey.y=y
 #jump is to increment the coordinates by dx and dy        
    def jump(joey,dx,dy):
        joey.x +=dx
        joey.y +=dy
# display        
    def __str__(joey):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(joey.x,joey.y)

In [10]:
#create an object for kangaroo
k = Kangaroo(0,0)
#display object
print(k)

I am a Kangaroo located at coordinates (0,0)

In [11]:
#Put in pouch function call to insert words
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
#function call to display words
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [12]:
#Calling jump function 
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

#print object
print(k)

I am a Kangaroo located at coordinates (3,0)

# 4

In [13]:
def collatz(x):
    if x <= 1:
        print(1)
    elif x % 2 == 0:
        print(int(x))
        return collatz(x/2)
    else:
        print(int(x))
        return collatz(3*x + 1)

In [14]:
collatz(1)

1

In [15]:
collatz(10)

10
5
16
8
4
2
1

# 5

In [21]:
def binary(integer):                                  #defining binary method which takes non-negative integer
    
    print("Binary representation of {} is".format(integer))
    
    if(integer >= 0):                                 #check whether the integer is 0 or a positive number then print
        
        print(format(integer,"b"))          
    
    else:
        return 'Not valid number is negative or 0'              #print that the number is negative or zero.

In [17]:
binary(0)

Binary representation of 0 is
0

In [18]:
binary(1)

Binary representation of 1 is
1

In [19]:
binary(3)

Binary representation of 3 is
11

In [20]:
binary(9)

Binary representation of 9 is
1001

In [22]:
binary(-2)

Binary representation of -2 is

'Not valid number is negative or 0'

# 6

In [23]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser): 
    def __init__(x):
        x.flag = False 
        x.indent = 0                                                             #provides indentation of 0
        x.stack = [] 
        super().__init__()

    def handle_starttag(x, tag, attrs):                                            
        if(tag[0] == 'h' and tag[1] <='6' and tag[1] > '0' and len(tag) == 2):      #condition
            x.stack.append("")

    def handle_endtag(x, tag):                                                      
        if (tag[0] == 'h' and tag[1] <= '6' and tag[1] > '0' and len(tag) == 2):    #reading the end tag of handle
            indent = int(tag[1]) - 1                                                #provides indentation
            for i in range(0,indent):
                print("\t",end="")
            print(x.stack.pop())

    def handle_data(x, data):                                                        
        if(len(x.stack) != 0):
            str = x.stack.pop()
            str+=data                                                                #assigning data to string
            x.stack.append(str)
                    
infile = open('W3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

# 7

In [24]:
#reference from Stackoverflow

from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Parser(HTMLParser):
    
    def __init__(w, url):
        HTMLParser.__init__(w)
        w.url = url
        w.url_s = []

    def append(w):
        return w.url_s

    def handle_starttag(w, tag, attr):
        for r in attr:
            y = urljoin(w.url, r[1])
            if y[:4] == 'http': 
                w.url_s.append(y)
x = 0
def webdir(urlink, depth, indent):

    depth = depth - 1    
    print(indent*'  ', urlink)         
    object = urlopen(urlink).read().decode()
    collect = Parser(urlink)
    collect.feed(object)
    urls = collect.append() 
    links = urls
    indent= indent + 4
    for l in links:
        if depth < 0 or indent < 0:
            return 1
        else:
            webdir(l, depth, indent)
            
webdir('https://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 https://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         https://reed.cs.depaul.edu/lperkovic/test3.html
                 https://reed.cs.depaul.edu/lperkovic/test4.html

# 8

In [25]:
!pip install ipython-sql

Collecting ipython-sql

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\L E N O V O\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: six in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.37-cp310-cp310-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 4.5 MB/s eta 0:00:00
Requirement already satisfied: ipython>=1.0 in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.3.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     ---------------------------------------- 42.3/42.3 KB 1.0 MB/s eta 0:00:00
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: decorator in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: jedi>=0.16 in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pickleshare in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: stack-data in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.29)
Requirement already satisfied: backcall in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.12.0)
Requirement already satisfied: colorama in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=5 in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.2.1.post0)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp310-cp310-win_amd64.whl (101 kB)
     -------------------------------------- 102.0/102.0 KB 2.0 MB/s eta 0:00:00
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\l e n o v o\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Using legacy 'setup.py install' for prettytable, since package 'wheel' is not installed.
Installing collected packages: prettytable, sqlparse, greenlet, sqlalchemy, ipython-sql
  Running setup.py install for prettytable: started
  Running setup.py install for prettytable: finished with status 'done'
Successfully installed greenlet-1.1.2 ipython-sql-0.4.1 prettytable-0.7.2 sqlalchemy-1.4.37 sqlparse-0.4.2

In [26]:
#load sql
%load_ext sql

In [27]:
#connect sql
%sql sqlite://

In [28]:
%%sql
CREATE TABLE record
(
    City         varchar(20),
    Country      varchar(20),
    Season       varchar(20),
    Temperature  float,
    Rainfall     float
);

 * sqlite://
Done.

[]

In [29]:
%%sql
INSERT INTO record VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9);
INSERT INTO record VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);
INSERT INTO record VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);
INSERT INTO record VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);
INSERT INTO record VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);
INSERT INTO record VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6);
INSERT INTO record VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);
INSERT INTO record VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5) ;

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
#table view

In [31]:
%%sql
select * from record;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

## a) All the temperature data.

In [32]:
%%sql
select Temperature from record;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

## b) All the cities, but without repetition.

In [33]:
%%sql
SELECT DISTINCT City FROM record;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

## c) All the records for India

In [34]:
%%sql
select * from record where Country='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

## d) All the Fall records.

In [35]:
%%sql
select * from record where Season='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

## e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [36]:
%%sql
select City, Country, Season, AVG(Rainfall) from record where Rainfall between 200 and 400 group by City;

 * sqlite://
Done.

[('London', 'United Kingdom', 'Winter', 213.1),
 ('Mumbai', 'India', 'Fall', 346.0)]

## f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [37]:
%%sql
select City, Country, AVG(Temperature) from record where Season='Fall' and Temperature>20 group by City order by Temperature;

 * sqlite://
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

## g) The total annual rainfall for Cairo.

In [38]:
%%sql
select City, SUM(Rainfall) from record where City='Cairo';

 * sqlite://
Done.

[('Cairo', 27.6)]

## h) The total rainfall for each season.

In [39]:
%%sql
select Season, SUM(Rainfall) from record group by Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## 9

In [40]:
#list word
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

## a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [41]:
#convert all words in list to uppercast
lst1 = [x.upper() for x in words]
print(lst1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

## b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [42]:
#convert all words in list to lowercast
lst2 = [x.lower() for x in words]
print(lst2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

## c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [43]:
#the list of lengths of words in list 'words'
lst3 = []
for x in words:
    lst3.append(len(x))
print(lst3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

## d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [44]:
lst5 = []
for y in range(0,len(words)):
    lst4 = []
    lst4.append(words[y].upper())
    lst4.append(words[y].lower())
    lst4.append(len(words[y]))
    lst5.append(lst4)
print(lst5)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

## e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [45]:
lst6 = []
for x in words:
    if len(x) >= 4:
        lst6.append(x)
print(lst6)

['quick', 'brown', 'jumps', 'over', 'lazy']